* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    cursor: none;
    font-weight: 100;
}

a {
    text-decoration: none;
}
section a {
    text-decoration: underline;
}
nav {
    overflow: hidden;
    color: white;
    align-content: center;
    align-items: center;
    padding: 8px;
    margin-top: 8px;
    margin-left: 5px;
}
nav img {
    top: 16px;
    left: 15px;
    position: fixed;
}

#cursor {
    position: fixed;
    pointer-events: none;
    color: rgb(0, 120, 215);
    z-index: 99999999;
}

nav a {
    top: 0;
    position: initial;
}
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
}
#menunav {
    position: fixed;
    left: 91%;
    opacity: 0;
    top: -30px;
    transition: all 0.85s ease-out;
}

section {
    padding: 5px 10px;
}

#cb_ips {
    background-color: black;
    padding: 5px 12px 0;
    border-radius: 0.66rem;
    margin: 0;
    color: rgb(255, 255, 255);
    transition: color 0.4s ease;
}
#cb_ips:hover {
    color: rgb(176, 176, 176);
}

button {
    background-color: #0f83ff;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition: background-color 0.25s ease;
} 
button:hover {
    background-color: #004b9b;
}

#header {
    animation: coolBGanim1 5.67s infinite ease;
    background-image: url('/assets/paysagemc_banniere.png');
    background-repeat: no-repeat;
    background-size: 120%;
    min-height: 250px;
    font-style: normal;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-top: 45px;
}

@keyframes coolBGanim1 {
    0% {
        border-bottom-left-radius: 46%;
        border-bottom-right-radius: 46%;
        background-position: -80px;
    }
    10% {
        border-bottom-left-radius: 60%;
        border-bottom-right-radius: 50%;
    }
    40% {
        border-bottom-left-radius: 70%;
        border-bottom-right-radius: 70%;
    }
    50% {
        border-bottom-left-radius: 70%;
        border-bottom-right-radius: 60%;
        background-position: 0px;
    }
    53% {
        border-bottom-left-radius: 72%;
        border-bottom-right-radius: 85%;
    }
    70% {
        border-bottom-left-radius: 55%;
        border-bottom-right-radius: 55%;
    }
    96% {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    100% {
        border-bottom-left-radius: 46%;
        border-bottom-right-radius: 46%;
        background-position: -80px;
    }
}

@media (max-width: 480px) {
    #menunav {
        opacity: 1;
        top: 12px;
        transition: all 0.85s ease-in;
    }
    nav a {
        position: fixed;
        top: -40px;
    }
    nav span.clickable {
        position: fixed;
        top: -40px;
    }
    #cursor {
        visibility: hidden;
    }
}