* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    cursor: none;
    font-weight: 100;
}

a {
    text-decoration: none;
}
nav {
    overflow: hidden;
    color: white;
    align-content: center;
    align-items: center;
    padding: 6px;
}
nav img {
    top: 16px;
    left: 15px;
    position: fixed;
}

#cursor {
    position: fixed;
    pointer-events: none;
    color: rgb(0, 120, 215);
    z-index: 99999999;
}

.infos {
    display: flex;
}
.box1 {
    background-color: rgb(218, 218, 218);
    border-radius: 13px;
    padding: 15px;
    max-width: 35%;
    width: 101%;
    margin: 8px;
}
.box2 {
    background-color: rgb(218, 218, 218);
    border-radius: 13px;
    padding: 15px;
    max-width: 65%;
    width: 101%;
    margin: 8px;
}
.box3 {
    background-color: rgb(218, 218, 218);
    border-radius: 13px;
    padding: 15px;
    max-width: 100%;
    width: 101%;
    margin: 8px;
}

nav a {
    top: 0;
    position: initial;
}
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
}
#menunav {
    float: right;
    opacity: 0;
    transition: opacity 0.85s ease-out;
}

@font-face {
    font-family: 'Minecraftia';
    src: local('Minecraftia')
         url('/assets/fonts/Minecraftia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#motd {
    background-image: url(/assets/mcdirt_bg.png);
    background-size: 150%;
    background-position: 0 -15px;
    border-radius: 5px;
    padding: 2px;
}

button {
    background-color: #0f83ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 15px 0;
    border-radius: 12px;
    transition: background-color 0.25s ease;
} 
button:hover {
    background-color: #004b9b;
}

@media (max-width: 480px) {
    #menunav {
        opacity: 1;
        transition: opacity 0.85s ease-in;
    }
    nav a {
        position: fixed;
        top: -40px;
    }
    #cursor {
        visibility: hidden;
    }
}